<% game = local_assigns[:game] %>

<div class="box has-background-grey-lighter">
  <div class="columns">
    <div class="column has-text-left has-text-weight-bold">
      <span class="icon">
        <i class="fas fa-magnifying-glass"></i>
      </span>
      <%= link_to "View game summary", game_url(player: @player, game_id: game['game_id']), class: "has-text-black" %>
    </div>

    <div class="column has-text-right has-text-weight-bold">
      <%= game['started_at'].to_date.strftime("%d %b %Y") %>
    </div>
  </div>

  <div class="columns has-background-white has-text-centered is-flex is-vcentered">
    <% game['teams'].each_with_index do |players, team_index| %>
      <% unless team_index.zero? %>
        <div class="column">
          <span class="icon">
            <i class="fas fa-x"></i>
          </span>
        </div>
      <% end %>

      <div class="column">
        <% players.each do |player_info| %>
          <% player = player_info['player'] %>
          <% player_classes = player['result'] == 'win' ? 'has-text-success' : 'has-text-danger' %>

          <div class="block">
            <%= link_to player['name'], player_url(player['profile_id']), class: player_classes %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
